# gitignore file for WebP Quality Analysis

# Files and folders related to build/test tools
node_modules
vendor

# Operating system specific files
.DS_Store

# Ignore other .gitignore files to allow for personal customizations
.gitignore

# Ignore .env
.env

# Ignore all export files but keep the folder
exports/*
!exports/.gitkeep
